.fw-bold {
            font-weight: bold;
        }
        .m-h-150{
            min-height:150px;
        }
        .m-h-250{
            min-height:250px;
        }
        .m-h-200{
            min-height:200px;
        }
        .min-h-48{
            min-height: 48px;
        }
        .max-h-350{
            max-height:350px;
        }
        .h-350{
            height:350px;
        }
        .h-565{
            height:565px;
        }
        .h-300px{
            height:300px;
        }
        .w-300px{
            width:300px;
        }
        .min-w-150{
            min-width:150px;
        }
        .w-150px{
            width:150px;
        }
        .min-w-180{
            min-width:180px;
        }
        .max-w-180{
            max-width:180px;
        }
        .min-w-200{
            min-width:200px;
        }
        .w-200px{
            width:200px;
        }
        .min-w-300{
            min-width:300px;
        }
        .min-w-250{
            min-width:250px;
        }
        .max-width-50p{
            max-width:50%;
        }
        .w-10{
            width:10px;
        }
        .w-16px{
        width:16px;
        }
        .w-80px{
            width: 80px;
        }
        .min-h-0{
            min-height:0px !important;
        }
        .w-0{
            width:0%;
        }
        .min-w-100px{
            min-width:100px;
        }
        .w-250px{
            width:250px;
        }
        .w-20{
            width:20%;
        }
        .w-30{
            width:30%;
        }
        .m-h-80vh{
            min-height:80vh;
        }
        .fs-2rem{
            font-size:2rem;
        }
        .fs-1-3rem{
            font-size:1.3rem;
        }
        .w-2rem{
            width:2rem;
        }
        .max-w-400{
            max-width:400px;
        }
        .max-w-100p{
            max-width:100%;
        }
        .min-w-50{
            min-width:50px;
        }
        .w-120px{
            width:120px;
        }
        .max-w-0{
            max-width:0px;
        }
        .mt-51px{
            margin-top:50px;
        }
        .ml-12p{
            margin-left:12%;
        }
        .ml-38p{
            margin-left:38%;
        }
        .mt-m7px{
            margin-top:-7px;
        }
        .min-h-30{
            min-height:30px;
        }
        .m-w-25p{
            min-width:25% !important;
        }
        .h-50px{
            height:50px !important;
        }
        .h-0p{
            height:0%;
        }
        .max-w-0{
            max-width:0px;
        }
        .min-w-0{
            min-width:0px;
        }
        .h-80px{
            height:80px;
        }
        .max-w-50{
            max-width:50px;
        }
        .fs-4em{
            font-size:4em;
        }
        .min-h-40{
            min-height:40px;
        }
        .min-h-50{
            min-height:50px;
        }
        .min-h-50i{
            min-height:50px !important;
        }
        .h-81p {
            height: 56% !important;
         }
        .w-10px{
            width:10px;
        }
        .max-w-360{
            max-width:360px;
        }
        .max-w-55px{
            max-width:55px;
        }
        .min-h-66px{
            min-height:66px;
        }
        .max-w-400{
            max-width:400px;
        }
        .min-h-150{
            min-height:150px;
        }
        .min-h-150{
            max-height:150px;
        }
        .max-w-210{
            max-width:210px;
        }
        .mb-6px{
            margin-bottom:6px;
        }
        .w-30px{
            width:30px;
        }
        .h-100px{
            height:100px;
        }
        .h-180px{
            height:180px;
        }
        .w-42px{
            width:42px;
        }
        .fs-38{
            font-size:38px;
        }
        .max-w-130{
            max-width:130px;
        }
        .max-w-0 {
            max-width: 0px;
        }

        .min-w-0 {
            min-width: 0px;
        }

        .h-80px {
            height: 80px;
        }

        .max-w-50 {
            max-width: 50px;
        }
        .min-h-40 {
            min-height: 40px;
        }

        .min-h-50 {
            min-height: 50px;
        }

        .min-h-50i {
            min-height: 50px !important;
        }

        .h-81p {
            height: 56% !important;
        }

        .w-10px {
            width: 10px;
        }

        .max-w-360 {
            max-width: 360px;
        }

        .max-w-55px {
            max-width: 55px;
        }

        .min-h-66px {
            min-height: 66px;
        }

        .max-w-400 {
            max-width: 400px;
        }

        .min-h-150 {
            min-height: 150px;
        }

        .min-h-150 {
            max-height: 150px;
        }

        .max-w-210 {
            max-width: 210px;
        }

        .mb-6px {
            margin-bottom: 6px;
        }

        .w-30px {
            width: 30px;
        }

        .h-100px {
            height: 100px;
        }

        .h-180px {
            height: 180px;
        }

        .w-42px {
            width: 42px;
        }
        .max-w-130 {
            max-width: 130px;
        }
        .min-h-80vh {
            min-height: 80vh;
        }
        .min-h-85vh {
            min-height: 85vh;
        }
        .min-h-100vh {
            min-height: 100vh;
        }
        .min-h-90vh {
            min-height: 100vh;
        }
        .min-w-130{
            min-width:130px;
        }
        .min-h-40{
            min-height:40px;
        }
        .max-w-150{
            max-width:150px;
        }
        .max-w-100px {
            max-width: 100px;
        }        
        .wh-50{
            width:50px;
            height:50px;
        }
        .wh-45{
            width:45px;
            height:45px;
        }
        .badge-new{
            padding:3px 10px;
            display:inline-block;
        }
        .table.tp-0 td{
          padding: 0;
        }
        .h-20{
            height:20px;
        }
        .border-2{
            border-width:2px !important;
        }
        .radius-15{
            border-radius:15px;
        }

        .fs-30{
            font-size:30px !important;
        }

        .fs-26{
            font-size:26px !important;
        }
        
        .max-w-250 {
            max-width: 250px;
        }
        .max-h-200{
            max-height:200px !important;
        }

        .h-md-100{
             @media only screen and (min-width:991px){
                height:100%;
             }   
        }
        .dropdown-menu.filter-dropdown{
            min-width:350px;
            max-width:100%;
        }